name: build
on:
  workflow_dispatch:
  push:

jobs:
  msvc:
    name: Windows Release
    runs-on: windows-2022

    steps:
    - uses: microsoft/setup-msbuild@v2

    - uses: actions/checkout@v6
      with:
        submodules: recursive

    - name: Build
      run: |
        mkdir bin

        msbuild src\win32\msvc2017\ete-ded.vcxproj -m -p:PlatformToolset=v143,TargetName=ETe.ded,Configuration=Release,Platform=Win32
        copy src\win32\msvc2017\output\Release\ETe.ded.exe bin\ETe.ded.exe
        msbuild src\win32\msvc2017\ete-ded.vcxproj -m -p:PlatformToolset=v143,TargetName=ETe.ded,Configuration=Release,Platform=Win32 -t:Clean

        msbuild src\win32\msvc2017\renderer.vcxproj -m -p:Configuration=Release,Platform=Win32
        msbuild src\win32\msvc2017\ete.vcxproj -m -p:PlatformToolset=v143,TargetName=ETe,Configuration=Release,Platform=Win32,UseWasapi=USE_WASAPI=0
        copy src\win32\msvc2017\output\Release\ETe.exe bin\ETe.exe
        msbuild src\win32\msvc2017\renderer.vcxproj -m -p:Configuration=Release,Platform=Win32 -t:Clean
        msbuild src\win32\msvc2017\ete.vcxproj -m -p:PlatformToolset=v143,TargetName=ETe,Configuration=Release,Platform=Win32,UseWasapi=USE_WASAPI=0 -t:Clean

        msbuild src\win32\msvc2017\renderervk.vcxproj -m -p:Configuration=Release,Platform=Win32
        msbuild src\win32\msvc2017\ete.vcxproj -m -p:PlatformToolset=v143,TargetName=ETe,Configuration=Release,Platform=Win32,UseWasapi=USE_WASAPI=0
        copy src\win32\msvc2017\output\Release\ETe.exe bin\ETe-vulkan.exe
        msbuild src\win32\msvc2017\renderervk.vcxproj -m -p:Configuration=Release,Platform=Win32 -t:Clean
        msbuild src\win32\msvc2017\ete.vcxproj -m -p:PlatformToolset=v143,TargetName=ETe,Configuration=Release,Platform=Win32,UseWasapi=USE_WASAPI=0 -t:Clean

        msbuild src\win32\msvc2017\game.vcxproj -m -p:Configuration=Release,Platform=Win32 -t:Clean
        msbuild src\win32\msvc2017\ui.vcxproj -m -p:Configuration=Release,Platform=Win32 -t:Clean
        msbuild src\win32\msvc2017\cgame.vcxproj -m -p:Configuration=Release,Platform=Win32 -t:Clean

        powershell Compress-Archive .\bin\* latest.zip

    - name: Delete tag
      run: gh release delete latest --cleanup-tag
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

    - name: Sleep for 30 seconds
      run: Start-Sleep -s 30
      shell: powershell

    - name: upload_packages
      id: upload_release
      uses: svenstaro/upload-release-action@latest
      with:
        repo_token: ${{ secrets.GITHUB_TOKEN }}
        file: latest.zip
        tag: latest
        overwrite: true
